/* Add this to your global CSS file or the main component's CSS module */
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*{
  font-family: "Inria Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.main-content {
  padding-top: 60px; /* Adjust according to your navbar height */
}

.ico {
    background-image: url('https://cdn.icon-icons.com/icons2/1381/PNG/512/com_94698.png');
    width: 32px; /* Adjust width as needed */
    height: 32px; /* Adjust height as needed */
    background-size: contain;
    background-repeat: no-repeat;
}
